html {
	background: url("../images/fondo-pagina web.jpg");
	background-size: 100%;
}
body {
	font-family: New Times Roman Helvetica, sans-serif;
	color: white;
}
* {
		margin:0px;
		padding:0px;
	}
			
#header 
{
	margin:auto;
	width:500px;
	font-family:New Times New Roman, Helvetica, sans-serif;
}
			
ul, ol 	
{
	list-style:none;
}
			
.nav > li 	
{
	float:left;
}
			
.nav li a 	
{
	background-color:transparent;
	color: black;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}
			
.nav li a:hover 
{
	background-color:white;
}
			
.nav li ul 
{
	display:none;
	position:absolute;
	min-width:140px;
}
			
.nav li:hover > ul 
{
	display:block;
}
			
.nav li ul li 
{
	position:relative;
}
			
.nav li ul li ul 
{
	right:-140px;
	top:0px;
}