html 
{
	background: url("../images/espacio.jpg");
	background-size: 100%;
}
body 
{
	font-family: New Times Roman, Helvetica, sans-serif;
	color: white;
}
* 
{
	margin:0px;
	padding:0px;
}
fieldset
{
	margin-left: 5px;
	/*width:300px;*/
	padding-bottom: 10px;
}
#color-encuesta
{
	margin-left: 10px;
	color: white;
	display: table;
}
#encuesta-formulario
{
	text-align: center;
	margin-right: 10px;
}
#encuesta-residencia
{
	text-align: center;
	margin-right: 15px;
	padding-bottom: 7px;
	margin-left: 15px;
}
.formulario
{
	text-align: left;
}
.caja1
{
	margin-left: 12px;
}
#separacion-entre-cajas
{
	margin-left: 7px;
}		
.separacion-izq
{
	margin-left: 7px;
}
#enviar
{
	margin-left: 60px;
}
#reset
{
	margin-left: 20px;
}
#header 
{
	margin: auto;
	width:500px;
	font-family:New Times New Roman, Helvetica, sans-serif;
}
#banner
{
	margin-top: 50px;
	height: 200px;
	border-radius: 5px;
	background: url("../images/banner2.png") no-repeat;
	position: relative;
	box-shadow: 0px 1px 4px white;
	margin-bottom: 25px;
	z-index: 0;
}
#banner_descripcion
{
	position: absolute;
	bottom: 0;
	border-radius: 0px 0px 5px 5px;
	width: 98.95%;
	height: 25px;
	padding-top: 10px;
    padding-left: 20px;
    background-color: black;
    background-color: black;
    color: white;
    font-size: 0.8em;

}
.boton_banner
{
	display: inline-block;
	height: 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    background: url('images/red_background.png') repeat-x;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}
ul, ol 	
{
	list-style:none;
}
			
.nav > li 	
{
	float:left;
}
			
.nav li a 	
{
	background-color: black;
	color: white;
	text-decoration: none;
	padding:10px 12px;
	display: block;
}
			
.nav li a:hover 
{
	background-color: #6EC3FA;
}
			
.nav li ul 
{
	display: none;
	position: absolute;
	min-width: 140px;
}
			
.nav li:hover > ul 
{
	display: block;
	z-index: 1;
}
			
.nav li ul li 
{
	position: relative;
}
			
.nav li ul li ul 
{
	right: -140px;
	top: 0px;
}
.asterisco
{
	position: relative;
	display: inline-block;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 1.8em;
}
.asterisco .texto-asterisco
{
	visibility: hidden;
	width: 200px;
	background-color: white;
	color: black;
	border-radius: 6px;
	text-align: center;
	padding: 5px;
	position: absolute;
	z-index: 1;
	font-size: 0.5em;
}
.asterisco:hover .texto-asterisco
{
	visibility: visible;
}