html 
{
	background: url("../images/espacio.jpg");
	background-size: 100%;
}
body 
{
	font-family: New Times Roman, Helvetica, sans-serif;
}
* 
{
	margin:0px;
	padding:0px;
}
fieldset
{
	margin-left: 5px;
	/*width:300px;*/
	padding-bottom: 10px;
}
#header 
{
	margin: auto;
	width: 500px;
	font-family: New Times New Roman, Helvetica, sans-serif;
}
#banner
{
	margin-top: 50px;
	height: 200px;
	border-radius: 5px;
	border: 1px solid white;
	background: url("../images/banner2.png") no-repeat;
	position: relative;
	box-shadow: 0px 1px 4px white;
	margin-bottom: 25px;
	z-index: 0;
}
#banner_descripcion
{
	position: absolute;
	bottom: 0;
	border-radius: 0px 0px 5px 5px;
	width: 98.95%;
	height: 25px;
	padding-top: 10px;
    padding-left: 20px;
    background-color: black;
    background-color: black;
    color: white;
    font-size: 0.8em;

}
.boton_banner
{
	display: inline-block;
	height: 20px;
    position: absolute;
    right: 5px;
    bottom: 5px;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1.2em;
    text-align: center;
    padding: 3px 8px 0px 8px;
    color: white;
    text-decoration: none;
}
ul, ol 	
{
	list-style:none;
}
			
.nav > li 	
{
	float:left;
}
			
.nav li a 	
{
	background-color: black;
	color: white;
	text-decoration: none;
	padding:10px 12px;
	display: block;
}
			
.nav li a:hover 
{
	background-color: #6EC3FA;
}
			
.nav li ul 
{
	display: none;
	position: absolute;
	min-width: 140px;
}
			
.nav li:hover > ul 
{
	display: block;
	z-index: 1;
}
			
.nav li ul li 
{
	position: relative;
}
			
.nav li ul li ul 
{
	right: -140px;
	top: 0px;
}
section p
{
	color: white;
}
footer
{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 35%;
	background-color: black;
	text-align: center;
	color: white;
	margin-left: 32.5%;
    border: 1px solid white;
    border-radius: 25px;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    height: 13%;
}
#datos-footer footer
{
	margin-bottom: 50%;
}
#h2-footer
{
	font-size: 1.2em;
}
#parrafo
{
	color: white;
}
h1
{
	color: white;
	font-size: 1.7em;
}
article, aside
{
	display: inline-block;
    vertical-align: top;
    text-align: justify;
}
article
{
	width: 84%;
	margin-right: 20px;
}
.cat_icon
{
	vertical-align: middle;
    margin-right: 8px;
}
article p
{
	font-size: 1.2em;
	background-color: transparent;

}
aside
{
	position: absolute;
    width: 256px;
    background-color: #1C1C1C;
    box-shadow: 0px 2px 5px #1c1a19;
    border-radius: 5px;
    border: 1px solid white;
    padding: 10px;
    color: white;
    font-size: 0.9em;
}
#arrow
{
    position: absolute;
    top: 100px;
    left: -12px;
}
#imagen_autor
{
    text-align: center;
}

#imagen_autor img
{
    /*border: 1px solid black;*/
}

aside img
{
    margin-right: 5px;
}
table, td, tr
{
	color: black;
	background-color: white;
}
#tabla1
{
	margin-left: 10%
}
.section-p
{
	background-color: white;
	color: black;
	display: table;
}
#p-blanco
{
	color: white;
}
.quitar-hipervinculo
{
	text-decoration: none;
	color: white;
}
table
{
	border: 1px solid;
	text-align: center;
}
td, tr
{
	text-align: center;
}